.searchbar-container{
    display: flex;
    justify-content: space-between;
    height: 59px;
    align-items: center;
    padding: 12px 16px 12px 0;
    border-radius: 0px;
    /* box-shadow:  3px 3px 7px var(--color-background-dark); */
}

.today-info {
    height: 30px;
    width: 300px;
    margin-left: 16px;
    box-shadow: inset 2px 2px 5px var(--color-background-dark), 
            inset -3px -3px 7px var(--color-background-light);
    border-radius: 12px;
}

.profile-pic-border{
    width: 45px;
    height: 45px;
    padding: 6px;
    border-radius: 50%;
    box-shadow: inset 2px 2px 2px #b8b9be,inset -3px -3px 4px #fff;
}

.profile-pic{
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
.search-bar{
    margin-left: 20vw;
}

.search-bar form{
    display: flex;
    align-items: center;
}

.search-bar input{
    height: 30px;
    width: 20vw;
    padding: 0 8px;
    border-radius: 0 8px 8px 0;
    outline: none;
    border: 1px solid #d1d9e6;
    border-left: none;
    background: var(--color-background);
    box-shadow: inset 2px 2px 5px var(--color-background-dark), 
            inset -3px -3px 7px var(--color-background-light);
}

.search-bar button{
    color: black;
    height: 30px;
    text-align: center;
    width: 30px;
    border: 1px solid #d1d9e6;
    border-right: none;
    border-radius: 8px 0 0 8px;
    cursor: pointer;
    background-color: #e6e7ee;
}

.search-bar button svg{
    width: 16px;
    height: 16px;
    margin-top: 4px;
}
