a{
    text-decoration: none;
}
.sidebar{
    background-color:var(--color-background);
    width: 200px;
    height: 100%;
    padding: 0 0;
    /* box-shadow:  3px 3px 7px var(--color-background-dark), 
             -3px -3px 7px var(--color-background-light); */
}

.sidebar .sidebar-itens{
    text-transform: uppercase;
    margin: 8px;
    margin-bottom: 14px;
    border-radius: 14px;
    transition: 0.3s;
}

.sidebar .sidebar-itens:last-child{
    margin-bottom: 0;
}

.sidebar .active,
.sidebar .sidebar-itens:hover {
    background-color: var(--color-selected-sidebar);
    color: var(--color-text-sidebar);
    box-shadow: inset 2px 2px 5px var(--color-selected-sidebar-dark), 
            inset -3px -3px 7px var(--color-selected-sidebar-light);
            /* 5px 5px 7px var(--color-background-dark), 
             -5px -5px 7px var(--color-background-light); */
}

.sidebar .active a .link-itens span,
.sidebar .active a .link-itens svg{
    color: var(--color-text-sidebar);
}

.sidebar .sidebar-itens a .link-itens{
    display: flex;
    align-items: center;
    filter: brightness(0.9);
    padding: 16px;
    text-decoration: none;
    color: var(--color-text-sidebar);    
}

.sidebar .sidebar-itens a .link-itens:hover{
    color: var(--color-text-sidebar);
}

.sidebar .sidebar-itens svg{
    /* color: var(--color-text-sidebar); */
    width: 1.3rem;
    height: 1.3rem;
}

.sidebar .sidebar-itens span{
    /* color: var(--color-text-sidebar); */
    font-family: Archivo;
    font-size: 14px;
    margin-left: 8px;
}

.sidebar .barra{
    width: 100%;
    height: 1px;
    background-color: var(--color-text-sidebar);
    margin-bottom: 16px;
    margin-top: 44px;
}

.sidebar .footer-sidebar .sidebar-itens .link-itens span{
    font-size: 12px;
}

.bar-header{
    width: 100%;
}