.card-cambio{
    max-height: 114px;
    font-family: Archivo;
    color: var(--color-text-cards);
    padding: 8px 16px;
    border-radius: 16px;
    box-shadow: 
             inset 2px 2px 5px var(--color-background-dark), 
            inset -3px -3px 7px var(--color-background-light);
}

.card-cambio .cambio-itens svg{
    width: 16px;
    height: 16px;
    color: red;
    margin: 0 auto;
}

.card-cambio h3{
    text-align: center;
    margin-top: 4px;
}

.card-cambio .cambio-item{
    display: flex;
    justify-content: space-around;
    padding: 6px 0;
    margin-top: 8px;
}