:root{
    --color-background: #e6e7ee;
    --color-background-dark: #b8b9be;
    --color-background-light: #fff;
    --color-text-sidebar: #31344b;
    --color-text-cards: #31344b;
    --color-selected-sidebar: #e6e7ee;
    --color-selected-sidebar-dark: #b8b9be ;
    --color-selected-sidebar-light: #fff;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100vh;
    background-color: var(--color-background);
}